.all-details {
  border-bottom: 5px solid #f5f5f5;
  position: relative;
  margin-left: -800px;
  margin-top: -430px;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 459px;
}

.head {
  display: flex;
}
.head p {
  margin-left: 10px;
  margin-top: 10px;
}
.first-details {
  width: 370px;
  height: 171px;
  margin-left: 40px;
  font-size: 15px;
}
.first {
  width: 459px;
  height: 441px;
  border-bottom: 5px solid #f5f5f5;
  padding: 15px;
}
.first :nth-child(1) img {
  border-radius: 50%;
}
.second {
  width: 459px;
  height: 484px;
}
.second :nth-child(1) img {
  border-radius: 50%;
}
.others {
  width: 459px;
  height: 115px;
  border-bottom: 5px solid #f5f5f5;
}
.others img {
  border-radius: 50%;
}
.third {
  border-bottom: 5px solid #f5f5f5;
}
.first-img {
  border-radius: 10px;
  margin-left: 40px;
}
.more {
  margin-left: 390px;
  color: rgb(5, 191, 5);
  text-decoration: underline;
  font-size: 15px;
}
.third .head {
  margin-left: 20px;
}
.reply {
  color: rgb(5, 191, 5);
  margin-top: 5px;
  margin-left: -10px;
}
.others .rews {
  margin-top: -130px;
  margin-left: 55px;
}
.second .rews {
  margin-top: -130px;
  margin-bottom: 20px;
  margin-left: 55px;
}
.third .rews {
  margin-top: 20px;
  margin-top: 10px;
  margin-left: 55px;
}

.rews {
  color: #bcbcbc;
  width: 161px;
  height: 17px;
  font-size: 13px !important;
  margin-left: 40px;
  margin-top: 10px;
}
.rews img {
  margin-left: 15px;
}
.grid-img img {
}
.grid-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin-left: 50px;
}
.one {
  grid-column: 1;
  grid-row: 1;
  width: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.two {
  grid-column: 2;
  grid-row: 2;
  width: 110px;

  border-bottom-right-radius: 5px;
  margin-left: 2px;
  margin-top: -70px;
}
.three {
  grid-column: 2/2;
  grid-row: 1;
  width: 110px;
  border-top-right-radius: 5px;
  margin-left: 2px;
}
.third .first-details {
  margin-bottom: -100px;
}
.last {
  display: inline-flex;
  width: 459px;
}
.last p {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 240px;
  color: #bcbcbc;
}
.last img {
  margin-left: 0px;
  margin-top: 20px;
}
.dark-person {
  margin-left: 10px;
  margin-top: 10px;
}
.dark-person {
  margin-left: 10px;
  margin-top: 10px;
}
.dark-person {
  margin-left: 10px;
  margin-top: 10px;
}
